.cajitas {
display: flex;
margin-bottom: 3rem;
margin-top: 1rem;
flex-direction: row;
justify-content: center;
align-items: center;

.cajita1,.cajita2,.cajita3 {
background-color: rgb(108, 101, 101);
width: 100px;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}
}
@mixin tamanos ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}
.cajitas .cajita1 {
@include tamanos (150px, 150px)
}
.cajitas .cajita2 {
    @include tamanos (150px, 150px)
    }
    .cajitas .cajita3 {
        @include tamanos (150px, 150px)
        }
