.header__right_index{
    background-image: url(../assets/imagen\ fondo\ new.jpg);
    height: 100vh;
}
.menu__item{
  -webkit-animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both;
  animation:slide-in-bck-center .7s cubic-bezier(.25,.46,.45,.94) both}

@for $item from 1 through 4 {
    .menu__item#{$item} {animation-delay:$item*0.1s;}
}


 @-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}